.login-form-style{

  position: absolute;
  top: 50%;
  left: 75%;
  margin: -180px 0 0 -160px;
  width: 320px;
  height: 380px;
  padding: 36px;
  background: #fff;
  .title{
    font-size: 20px;
    color: rgba(0,0,0,.85);
    margin: 0 auto 40px auto;
    text-align: center;
    .span-title{
      display: inline-block;
      margin-right: 20px;
    }
    i{
      font-size: 24px;
      color: #0077aa;
    }
  }

  .row-three{
    margin-top: 22px;
  }

}
@media screen and (max-width: 970px) {
  .login-form-style{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -160px;
    width: 245px;
    height: 380px;
    padding: 36px;
    background: #fff;
    border-radius: 3px;
  }
}